.header{
  margin-top: 2em; 
 margin-bottom: 1em;
}
.header a{
  text-decoration: none;
  color: #757575;
  font-size: x-small;
  margin: 0.8em;
  font-weight: bold;
  padding-bottom: 3.6em;
}
.header a:hover{
  
  color: #0C7CEB;
  border-bottom: 4px solid #0C7CEB;
}
#navBar{
  align-items: center;
justify-content: space-between;
align-self: center;
}

.header img{
  width: 4em;
  
}
