.main {
  background-color: #1C1C1C;
  color: white;
}
main > div{
    min-height: 6em;
 align-items: center;
}
/***INFO MAIN****/
.info{
  background-color: #0C7CEB;
}
#containerCard{
  align-items: center;
  min-height: 6em;
  justify-content: space-around;
}
.marcketItem{
  
  align-items: center;
}
.imgMarcket{
  width: 2em;
}
.textMarcket{
  margin-left: 1em;
  font-size: 0.7em;
}