.main {
  background-color: #1C1C1C;
  color: white;
}
main > div{
    min-height: 6em;
 align-items: center;
}
/***INFO MAIN****/
.info{
  background-color: #0C7CEB;
}
#containerCard{
  align-items: center;
  min-height: 6em;
  justify-content: space-around;
}
.marcketItem{
  
  align-items: center;
}
.imgMarcket{
  width: 2em;
}
.textMarcket{
  margin-left: 1em;
  font-size: 0.7em;
}
#jumbotron{
  height: 17em;
overflow: hidden;
}
#ImgJumbo{

 height: 43em;
 width: 100%;
}
#mainFooter{
  position: relative;
}
.series{
  width:10em;
  padding: 0.5em;
  text-align: center;
position: absolute;
left: 15em;
bottom: 21em;
background-color: #0C7CEB;
}
.card{
width: 16%;
margin-bottom: 2em;
}
.cardWrapper{
  margin-top: 2.5em;
  flex-wrap: wrap;
  
}
.containerImg{
  width: 6em;
  height: 6em;
overflow: hidden;
}
.imgCard{
  width: 100%;
}
.imgCardAdd{
  padding-top:20px;
  transform: scale(1.5);
}
.textCard{
  margin-top: 1em;
  font-size: x-small;
  width: 100%;
  
}