.main {
  background-color: #1C1C1C;
  color: white;
}
main > div{
    min-height: 6em;
 align-items: center;
}
/***INFO MAIN****/
.info{
  background-color: #0C7CEB;
  margin-top: 1em;
}
#containerCard{
  align-items: center;
  min-height: 6em;
  justify-content: space-around;
}
.marcketItem{
  
  align-items: center;
}
.imgMarcket{
  width: 2em;
}
.textMarcket{
  margin-left: 1em;
  font-size: 0.7em;
}
#jumbotron{
  height: 17em;
overflow: hidden;
}
#ImgJumbo{

 height: 43em;
 width: 100%;
}
#mainFooter{
  position: relative;
}
.series{
  width:10em;
  padding: 0.5em;
  text-align: center;
position: absolute;
left: 15em;
top :23em;
background-color: #0C7CEB;
}

button{
  width: 12em;
  display: block;
  color: white;
  padding: 0.7em;
text-align: center;
background-color: #0C7CEB;
margin: 0 auto;
border: 0;
}