.main {
  background-color: #1C1C1C;
  color: white;
}
main > div{
    min-height: 6em;
 align-items: center;
}
/***INFO MAIN****/
.info{
  background-color: #0C7CEB;
}
#containerCard{
  align-items: center;
  min-height: 6em;
  justify-content: space-around;
}
.marcketItem{
  
  align-items: center;
}
.imgMarcket{
  width: 2em;
}
.textMarcket{
  margin-left: 1em;
  font-size: 0.7em;
}
#jumbotron{
  height: 14em;
overflow: hidden;
}
#ImgJumbo{

 height: 35em;
}
#mainFooter{
  position: relative;
}
.series{
  width:10em;
  padding: 0.5em;
  text-align: center;
position: absolute;
right:41em;
top: 6em;
background-color: #0C7CEB;
}
.card{


}
.cardWrapper{
  
  flex-wrap: wrap;
  
}
.containerImg{
  width: 6em;
  height: 6em;
overflow: hidden;
}
.imgCard{
  width: 100%;
 
  
}