/*******************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*****************************Generics********************/
.boxed{
  width: 70%;
  margin: 0 auto;
}
.d-flex{
  display: flex;
}



/****************************Header************************/
header{
  margin-top: 2em; 
 margin-bottom: 1em;
}
header a{
  text-decoration: none;
  color: #757575;
  font-size: x-small;
  margin: 0.8em;
  font-weight: bold;
  padding-bottom: 3.6em;
}
header a:hover{
  
  color: #0C7CEB;
  border-bottom: 4px solid #0C7CEB;
}
.nav-bar{
  align-items: center;
}

header img{
  width: 4em;
  
}
header .nav-bar{
justify-content: space-between;
align-self: center;
}
/*************************************MAIN*********************************/
main {
  background-color: #1C1C1C;
  color: white;
}
main > div{
    min-height: 6em;
 align-items: center;
}
/***INFO MAIN****/
.info{
  background-color: #0C7CEB;
}
.container-card{
  align-items: center;
  min-height: 6em;
  justify-content: space-around;
}
.marcket-item{
  
  align-items: center;
}
.img-marcket{
  width: 2em;
}
.text-marcket{
  margin-left: 1em;
  font-size: 0.7em;
}
/***********************FOOTER**********************************************/

/* footer{
  background-image: url(/public/footer-bg.jpg);
  min-height: 7em;
} */
/* .containerFooter{
justify-content: space-between;
}
#container-link{
  padding-top: 2em;
}
.titles-footer{
  color: white;
  margin-bottom: 0.5em;
  /* margin-right: 3em; 
}
footer a{
  text-decoration: none;
  color: gray;
  font-size: 11px;
  display: block;
  margin: 0.25em 0;
  margin-right: 2em;

}
#bg-DC{
  order: 1;
  width: 35%;
 background-image: url(/public/dc-logo-bg.png);
    object-fit: contain;
    background-size: cover;
    background-position: center;
}
#footer-down{
  background-color: #303030;
  min-height: 5em;
  align-items: center;
  /* padding: 1em 0; 
}
footer button{
  background-color: #303030;
  border: #0C7CEB 2px solid;
  padding: 0.8em;
  color: white;
  font-size: 12px;
}
footer p{
  color: #0C7CEB;
  padding: 0.8em;
  font-size: 12px;
  
}
.social{
width: 2.5em;
}
.footer-social{
justify-content: space-between;
} */