/*******************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*****************************Generics********************/
.boxed{
  width: 70%;
  margin: 0 auto;
}
.d-flex{
  display: flex;
}



/****************************Header************************/
header{
  margin-top: 2em; 
 margin-bottom: 1em;
}
header a{
  text-decoration: none;
  color: #757575;
  font-size: x-small;
  margin: 0.5em;
  font-weight: bold;
  padding-bottom: 3.6em;
}
header a:hover{
  
  color: #0C7CEB;
  border-bottom: 4px solid #0C7CEB;
}
.nav-bar{
  align-items: center;
}

header img{
  width: 4em;
  
}
header .nav-bar{
justify-content: space-between;
align-self: center;
}
/*************************************MAIN*********************************/
main {
  background-color: #1C1C1C;

  color: white;
}
main > div{
    min-height: 6em;
 align-items: center;
}